<!-- Displays quote and author gotten from the API  -->
<h2>{{quote.quote}}</h2>
<h3><em>{{quote.author}}</em></h3>
<hr />
<!-- This is the markup for the 2 buttons. Both are wired up to do functions in our quote component. -->
<p>
  <a (click)="this.showQuote()" class="btn btn-primary btn-lg" role="button">New Quote</a>
  <a (click)="this.createTweet()" class="btn btn-info btn-lg" href="{{this._tweet}}" role="button" target="_blank"><i class="fa fa-twitter fa-1x" aria-hidden="true"></i> tweet</a>
</p>
<p>
  Learn more about the creator of this site!
</p>
<p>
<a href="https://github.com/Xmas13/quote-generator"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
<a href="http://codepen.io/xmas13/#"><i class="fa fa-codepen" aria-hidden="true"></i></a>
<a href="https://www.linkedin.com/in/noel-miller-533909113/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
<a href="https://twitter.com/_Noel_Miller"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</p>
